<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Isopod Adventure</title></head>
<body>
<pre th:text="${description}"></pre>
<!--Session based-->
<!--<form method="post" action="/action">-->
<!--    <input type="text" name="command" autofocus autocomplete="off"/>-->
<!--    <button type="submit">Send</button>-->
<!--</form>-->

<form method="post" action="/action">
    <input type="text" name="command" autofocus autocomplete="off"/>
    <input type="hidden" name="state" th:value="${gameStateJson}"/>
    <button type="submit">Send</button>
</form>
<br>
Available commands: move &lt;direction&gt;, look, inventory, help
<br>
Find the three things and you win.
</body>
</html>